services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - JAVA_OPTS=-Xms256m -Xmx512m
    restart: unless-stopped

